<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{../main.css}">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script th:inline="javascript">
        let allSubmissions = null
        let mySubmissions = null

        $(document).ready(function() {
            allSubmissions = $('#allSubmissions')
            mySubmissions = $('#mySubmissions')

            $('#allSubmissions').remove()
            $('#mySubmissions').remove()
        })

        function showAllSubmissions() {
            if ($('#allSubmissions').length) {
                return
            }
            console.log($('#allSubmissions').length)
            $('#mySubmissions').remove()
            $('#body').append(allSubmissions)
        }

        function showMySubmissions() {
            if ($('#mySubmissions').length) {
                return
            }
            console.log($('#mySubmissions').length)
            $('#allSubmissions').remove()
            $('#body').append(mySubmissions)
        }

    </script>
    <style>
        tr {
            display: flex;
            margin: 15px;
        }
    </style>
</head>
<body id="body">
        <button id="allSubmissionsButton" onclick="showAllSubmissions()">All submissions</button>
        <button id="mySubmissionsButton" onclick="showMySubmissions()">My submissions</button>

    <table class = "tasktable">
        <tr id="diff">
            <th id="taskid">ID</th>
            <th id="username">Username</th>
            <th id="submission">Submission Time</th>
            <th id="execute">Execution</th>
            <th id="status">Status</th>
            <th id="details">Solution</th>
        </tr>


        <div id="allSubmissions">
            <tr th:each="submission : ${submissions}">
                <div class="block">
                    <td th:text="${submission.getCompiler()}"></td>
                    <td th:text="${submission.getUsername()}"></td>
                    <td th:text="${submission.getSubmission_time()}"></td>
                    <td th:text="${submission.getExecutionTime()}"></td>
                    <td th:text="${submission.getStatus()}"></td>
                    <td> <a th:href="@{'/submission/' + ${submission.getId()}}">Details</a></td>

                </div>
            <tr>
        </div>



        <div id="mySubmissions">
            <tr th:each="submission : ${userSubmissions}">
                <div class="block">
                    <td th:text="${submission.getCompiler()}"></td>
                    <td th:text="${submission.getUsername()}"></td>
                    <td th:text="${submission.getSubmission_time()}"></td>
                    <td th:text="${submission.getExecutionTime()}"></td>
                    <td class="status" th:text="${submission.getStatus()}"></td>
                    <a th:href="@{'/submission/' + ${submission.getId()}}">Details</a>
                </div>
            <tr>
        </div>

    </table>
</body>
</html>